$font-stack: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', sans-serif;

body {
  margin: 0;
font: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }